=================================
<SLIDES_TITLE_IS_HERE
=================================

:author: <AUTHOR>
:version: {{ doc_revision }}

.. Meta information of slides as comments....

.. raw:: pdf

   PageBreak oneColumn

Agenda
========

TBD

References
=============

TBD

.. vim:sw=2:ts=2:et:
